<nav>
    <div class="logo">
        <a href="/">
            <h1>Covid-19</h1>
        </a>
    </div>
    <ul>
        <li> <a href="/">Home</a></li>
        <li> <a href="/news">News</a></li>
        <li> <a href="/about">About</a></li>
    </ul>
    <div class="hamburger">
        <div class="line line1"></div>
        <div class="line line2"></div>
        <div class="line line3"></div>
    </div>
</nav>