<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid News</title>
    <link rel="stylesheet" href="./styles/news.css">
    <link rel="shortcut icon" type="image/png" href="./images/logo2.png">
</head>

<body>
    <div class="container">
        <header>
            <div class="logoDiv">
                <img src="./images/logo1.png" alt="news logo">
                <h1>Covid News</h1>
            </div>
            <a href="/">Go Home</a>
        </header>
        <div class="articles_div"></div>
    </div>
</body>
<script src="./news.js"></script>

</html>