<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home-Page</title>
    {{!-- links --}}
    {{!-- css --}}
    <link rel="stylesheet" href="../css/css.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/weather.css">
    {{!-- fonts and icons --}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Sacramento&display=swap"
        rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js' defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" />
</head>