<main>
    <div class="info">
        <h1>Welcome To My Site</h1>
        <h1 class="names"><span></span></h1>
        {{!-- <h5>Go to <a href="/about">About Page</a></h5> --}}
    </div>

    <div class="slider">
        <div class="slide">

            <img class="slide1"
                src="https://image.freepik.com/free-vector/business-idea-concept-with-people_52683-28609.jpg"
                alt="slide1">

            <img class="slide2"
                src="https://img.freepik.com/free-vector/business-team-planning-working-process-flat-vector-illustration-cartoon-colleagues-talking-sharing-thoughts-smiling-company-office-teamwork-workflow-concept_74855-9813.jpg?size=626&ext=jpg"
                alt="slide3">

            <img class="slider3"
                src="https://img.freepik.com/free-vector/business-planning-time-cartoon-tiny-people-make-online-schedule-agenda-strategy-concept-white_109722-1102.jpg?size=626&ext=jpg"
                alt="slide2">

        </div>
    </div>
</main>