<nav>
    <div class="logo">
        <i class="far fa-snowflake"></i>
        <h2>Yash Netankar</h2>
        <i class="far fa-snowflake"></i>
    </div>
    <ul class="nav-items">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/about">About</a></li>
        <li class="nav-item"><a href="/weather">Weather</a></li>
    </ul>
</nav>