<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
  {{>navbar}}
  <div class="about">
    <h1 class="about_owner">This Site is Built by &nbsp;<a href="#" class="owner_name">Yash Netankar</a></h1>
    <h2 class="about_head">Technologies Listed Below</h2>
    <h3 class="technologies"></h3>
  </div>

</body>

</html>